# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Altium history files

board_design/History/
board_design/TagIT_Design/History/
board_design/Project Outputs for TagIT_PCB/
board_design/TagIT_Design/Project Logs for TagIT_Design/
firmware/MainBoard/.metadata/.cache/com.silabs.ss.platform.sdk.core-sdkManager.cache.settings
firmware/MainBoard/.metadata/.cache/com.silabs.ss.platform.sdk.core-sdkManager.cache/registryCachedDescriptors
firmware/MainBoard/.metadata/.log
firmware/MainBoard/.metadata/.plugins/org.eclipse.cdt.core/.log
firmware/MainBoard/.metadata/.plugins/org.eclipse.core.resources/.root/12.tree
firmware/MainBoard/.metadata/.plugins/org.eclipse.core.resources/.root/13.tree
firmware/MainBoard/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
firmware/MainBoard/.metadata/.plugins/org.eclipse.core.runtime/.settings/com.ember.core.prefs
firmware/MainBoard/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.core.prefs
firmware/MainBoard/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
firmware/MainBoard/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
firmware/MainBoard/.metadata/version.ini
firmware/MainBoard/outgoing/v5_5334ee39-1dde-4125-ac0c-33183e5a3e38.1670297051861
firmware/MainBoard/outgoing/v5_5334ee39-1dde-4125-ac0c-33183e5a3e38.1670301447525
firmware/MainBoard/outgoing/v5_5334ee39-1dde-4125-ac0c-33183e5a3e38.1670301927124
firmware/MainBoard/outgoing/v5_5334ee39-1dde-4125-ac0c-33183e5a3e38.1670301946770
firmware/mic_tf_als_adxl/.project
firmware/mic_tf_als_adxl/.projectlinkstore
firmware/mic_tf_als_adxl/.trash/app.c
firmware/mic_tf_als_adxl/.trash/config/sl_board_control_config.h
firmware/mic_tf_als_adxl/.trash/config/sl_iostream_eusart_vcom_config.h
firmware/mic_tf_als_adxl/.trash/config/sl_mic_i2s_config.h
firmware/mic_tf_als_adxl/.trash/config/sl_mx25_flash_shutdown_eusart_config.h
firmware/mic_tf_als_adxl/.trash/config/sl_simple_led_led0_config.h
firmware/mic_tf_als_adxl/.trash/voice_control_light.cc
firmware/mic_tf_als_adxl/.uceditor/.mic_tf.i2cspmsensor.cedit
firmware/mic_tf_als_adxl/app.c
firmware/mic_tf_als_adxl/app.h
firmware/mic_tf_als_adxl/autogen/.crc_config.crc
firmware/mic_tf_als_adxl/autogen/linkerfile.ld
firmware/mic_tf_als_adxl/autogen/RTE_Components.h
firmware/mic_tf_als_adxl/autogen/rtos_description.h
firmware/mic_tf_als_adxl/autogen/sl_board_default_init.c
firmware/mic_tf_als_adxl/autogen/sl_component_catalog.h
firmware/mic_tf_als_adxl/autogen/sl_device_init_clocks.c
firmware/mic_tf_als_adxl/autogen/sl_event_handler.c
firmware/mic_tf_als_adxl/autogen/sl_event_handler.h
firmware/mic_tf_als_adxl/autogen/sl_i2cspm_init.c
firmware/mic_tf_als_adxl/autogen/sl_i2cspm_instances.h
firmware/mic_tf_als_adxl/autogen/sl_iostream_handles.c
firmware/mic_tf_als_adxl/autogen/sl_iostream_handles.h
firmware/mic_tf_als_adxl/autogen/sl_iostream_init_eusart_instances.c
firmware/mic_tf_als_adxl/autogen/sl_iostream_init_eusart_instances.h
firmware/mic_tf_als_adxl/autogen/sl_iostream_init_instances.h
firmware/mic_tf_als_adxl/autogen/sl_simple_led_instances.c
firmware/mic_tf_als_adxl/autogen/sl_simple_led_instances.h
firmware/mic_tf_als_adxl/autogen/sl_tflite_micro_model.c
firmware/mic_tf_als_adxl/autogen/sl_tflite_micro_model.h
firmware/mic_tf_als_adxl/autogen/sl_tflite_micro_model_parameters.h
firmware/mic_tf_als_adxl/autogen/sl_tflite_micro_opcode_resolver.h
firmware/mic_tf_als_adxl/config/common_cfg.h
firmware/mic_tf_als_adxl/config/cpu_cfg.h
firmware/mic_tf_als_adxl/config/dmadrv_config.h
firmware/mic_tf_als_adxl/config/emlib_core_debug_config.h
firmware/mic_tf_als_adxl/config/os_cfg.h
firmware/mic_tf_als_adxl/config/recognize_commands_config.h
firmware/mic_tf_als_adxl/config/rtos_cfg.h
firmware/mic_tf_als_adxl/config/rtos_err_cfg.h
firmware/mic_tf_als_adxl/config/sl_board_control_config.h
firmware/mic_tf_als_adxl/config/sl_device_init_dcdc_config.h
firmware/mic_tf_als_adxl/config/sl_device_init_emu_config.h
firmware/mic_tf_als_adxl/config/sl_device_init_hfxo_config.h
firmware/mic_tf_als_adxl/config/sl_device_init_lfxo_config.h
firmware/mic_tf_als_adxl/config/sl_hfxo_manager_config.h
firmware/mic_tf_als_adxl/config/sl_i2cspm_sensor_config.h
firmware/mic_tf_als_adxl/config/sl_iostream_eusart_vcom_config.h
firmware/mic_tf_als_adxl/config/sl_memory_config.h
firmware/mic_tf_als_adxl/config/sl_mic_i2s_config.h
firmware/mic_tf_als_adxl/config/sl_ml_audio_feature_generation_config.h
firmware/mic_tf_als_adxl/config/sl_mvp_config.h
firmware/mic_tf_als_adxl/config/sl_mx25_flash_shutdown_eusart_config.h
firmware/mic_tf_als_adxl/config/sl_power_manager_config.h
firmware/mic_tf_als_adxl/config/sl_simple_led_led0_config.h
firmware/mic_tf_als_adxl/config/sl_sleeptimer_config.h
firmware/mic_tf_als_adxl/config/sl_tflite_micro_config.h
firmware/mic_tf_als_adxl/config/tflite/keyword_spotting_on_off_v2.tflite
firmware/mic_tf_als_adxl/main.c
firmware/mic_tf_als_adxl/mic_tf.pintool
firmware/mic_tf_als_adxl/readme.md
firmware/mic_tf_als_adxl/recognize_commands.cc
firmware/mic_tf_als_adxl/recognize_commands.h
firmware/mic_tf_als_adxl/voice_control_light.cc
firmware/MainBoard/.metadata/.log
